# Data Exploration and Cleaning

Author: Raphael Rivers

Date: October 25, 2023

## Data Collection

**Dataset Source:** 
The primary data source for this research project is the Yelp open source dataset, an extensive and invaluable resource for academic and data-related endeavors. This dataset, available for academic purposes and research, is accessible as a compressed zip file from the official Yelp dataset website. It encompasses a wealth of information, including data on 150,346 businesses, 6,990,280 user reviews, 200,100 pictures, 908,915 tips, 1,987,897 users, and over 1.2 million business attributes, covering 11 metropolitan areas. The business datasets offer comprehensive insights into a wide array of establishments, ranging from restaurants to retail stores, providing data on attributes such as hours of operation, parking availability, and ambience. Moreover, the user reviews section supplies textual reviews, star ratings, and user identifiers, making it an invaluable resource for Natural Language Processing (NLP) and sentiment analysis. The availability of user-generated images and tips further enriches the dataset, offering both visual and concise textual user feedback. For the purposes of this research, this dataset will serve as the foundation for our analysis of the interplay between review sentiments, star ratings, and business patronage.

**Data Extraction:**
Data extraction from the Yelp open source dataset will be carried out systematically to obtain the relevant information required for our analysis. The dataset is provided in a structured format, typically as JSON files, which can be efficiently processed using various data manipulation and analysis tools. We will employ data extraction techniques to gather data on businesses, user reviews, and related attributes. This will involve parsing the JSON files to extract details about businesses, including their categories, locations, attributes, and unique identifiers. Additionally, user reviews will be extracted, including the review text, star ratings, and user identifiers, which will be crucial for sentiment analysis and understanding customer feedback. Images associated with businesses and user-generated tips will also be collected for a more comprehensive analysis. As our research aims to explore the impact of review sentiments and star ratings on business patronage, data extraction will ensure that we have the necessary information to answer our research questions. The extracted data will be subjected to further cleaning and preprocessing to make it suitable for our analytical tools and methodologies.

**Dataset Licence:** https://s3-media0.fl.yelpcdn.com/assets/srv0/engineering_pages/f64cb2d3efcc/assets/vendor/Dataset_User_Agreement.pdf

**Program Language:** *Python 3.11*

**Libraries:** *Pandas, Numpy, MathplotLIB, Scipy, Seaborn, VADER, TextBlob and/or NLTK (Sentiment Intensity Analyzer), SpaCy (Text Analysis)*

## Data Preparation

1. **Load Businesses Dataset:** Loading the JSON Dataset into DataFrames using Padas libraries. 
2. **Exploration Dataset:** Exploring the dataset to understand its underlying structure and content and verifying data for any missing or inconsistencies.
3. **Data Preprocessing:** Preprocessing and cleaning the data, including;     
    - Removing any irrelevant columns.
    - Handling missing values if present.
4. **Wrangling and Cleaning Dataframes:** Merging business categories into one dataframe, and exporting to CSV for analysis 
5. **Random Sampling:** Select 10,000 random samples from each dataframe. Mearge selection into one dataframe for analysis

In [1]:
# Import Pandas library to transform and manipulate datasets
import pandas as pd

In [2]:
pwd # Print wroking directory

'E:\\Projects\\Python\\Sentiment Analysis'

### Load Yelp Businesses Dataset

In [3]:
# Import and load the Yelp business.json file using pandas into raw_df dataframe
yelp_business_json = 'RAW Data/JSON/yelp_academic_dataset_business.json'
raw_df = pd.read_json(yelp_business_json, lines=True)

In [4]:
# Preview the imported dataframe 
raw_df.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [5]:
# Explore businesses dataframe to see all fields
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

### Drop unwanted fields in dataset

We see that they are column in the dataset that are not relevant to our analysis hence we will drop unwanted fields from the dataset. Why? This sentiment analysis focuses on overall sentiment without delving into specific businesses attributes as it customer experiences or understanding how different aspects of the user experience impact sentiment.  We will focus only on business that are opened, negating convienience attributes, geo markers and total number of review count. We aim to classify the sentiment of text data into categories like positive, negative, or neutral, we do not need the total number of stars. Sentiment classification typically focuses on the overall sentiment expressed in the text rather than the specific count of rating.  the total number of stars in a review or rating can be used as a feature in your analysis. If we wanted to examine how the actual rating (total number of stars) aligns with the sentiment classification. This would have provide valuable insights into the correlation between numerical ratings and textual sentiment. However, this is not the case.

In [6]:
# Filter business that are open from those that are closed in is_open field and reassign opened businesses to biz df
# Note datatype, 1 = open, 0 = close

biz = raw_df[raw_df['is_open']==1]

In [7]:
# verify that business close are filttered out
biz.head(2)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."

In [8]:
# Use the drop method to drop unneeded columns including: hours, latitude, longitude, review_count, attributes and stars
# list unnecessary fields into drop_fields variable and drop 
drop_columns = ['latitude','longitude','hours', 'attributes', 'stars']
biz = biz.drop(drop_columns, axis=1)

In [9]:
# Verify that selected columns are dropped 
biz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119698 entries, 1 to 150345
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   119698 non-null  object
 1   name          119698 non-null  object
 2   address       119698 non-null  object
 3   city          119698 non-null  object
 4   state         119698 non-null  object
 5   postal_code   119698 non-null  object
 6   review_count  119698 non-null  int64
 7   is_open       119698 non-null  int64
 8   categories    119603 non-null  object
dtypes: int64(2), object(7)
memory usage: 9.1+ MB

### Explode Business Categories and Split them into different rows

In [10]:
# Inspect the business categories
biz.categories.info()

<class 'pandas.core.series.Series'>
Int64Index: 119698 entries, 1 to 150345
Series name: categories
Non-Null Count   Dtype
--------------   -----
119603 non-null  object
dtypes: object(1)
memory usage: 1.8+ MB

We can see that we have over 100,000 business categories in the dataset where each business contains serveral identifying categories as subs strings. Now let's classify the business into specific categories that will serve our purpose.
Split the business categories field strings into individual subs strings base on the delimiter (,) or whitespace and assign each a new row. This does not repplace the original record. It is just creating new ones to narrow down business categories applicable to this analysis. This is useful because we are dealing with data that has one-to-many relationships, where each business has many category.

In [11]:
# Inspect Top 10 business categories record
biz.categories.value_counts()[:10]

Beauty & Spas, Nail Salons    900
Nail Salons, Beauty & Spas    849
Restaurants, Pizza            668
Pizza, Restaurants            575
Restaurants, Chinese          537
Chinese, Restaurants          513
Restaurants, Mexican          447
Mexican, Restaurants          417
Beauty & Spas, Hair Salons    408
Hair Salons, Beauty & Spas    387
Name: categories, dtype: int64

#### Explode the categories list to transform strings into separate rows with values for each string element using .explode() 
and with the .assign() method assign the splited strings dataset to a new dataframe biz_cat1

In [12]:
# Split the categories column strings based on delimiter and whitespace with .str.split(', ') 
biz_cat1 = biz.assign(categories = biz.categories.str.split(', ')).explode('categories')

In [13]:
# Drop rows with missing values in the categories column and filter out rows with white spaces
biz_cat = biz_cat1.dropna(subset=['categories'])

In [14]:
biz_cat.head() # verify dataframe

,business_id,name,address,city,state,postal_code,review_count,is_open,categories
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,15,1,Shipping Centers
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,15,1,Local Services
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,15,1,Notaries
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,15,1,Mailbox Centers
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,15,1,Printing Services

In [15]:
biz_cat.categories.value_counts()[:10]

Restaurants                  34987
Food                         20419
Shopping                     20186
Home Services                13322
Beauty & Spas                12263
Health & Medical             11046
Local Services               10138
Automotive                    9879
Nightlife                     8379
Event Planning & Services     8173
Name: categories, dtype: int64

### Select relevant businesses categories for random sampling

### Create Dataframes for selected business category

Choose 5 categories, which are Restaurants, Beauty & Spas, Health & Medical, Automotive, and Shopping. Generate a boolean series that includes keywords for these categories to filter and create separate dataframes for each of these focus categories.

In [16]:
# Create a boolean Series that contains category in the 'Categories' column
contain_resturants = biz_cat['categories'].str.contains('Restaurants', case=True, na=False)
contain_beauty = biz_cat['categories'].str.contains('Beauty & Spas', case=True, na=False)
contain_medical = biz_cat['categories'].str.contains('Health & Medical', case=True, na=False)
contain_automotive = biz_cat['categories'].str.contains('Automotive', case=True, na=False)
contain_shopping = biz_cat['categories'].str.contains('Shopping', case=True, na=False)

In [17]:
# Filter the rows of the businesses categories for new dataframes
resturants = biz_cat[contain_resturants]
beauty = biz_cat[contain_beauty]
medical = biz_cat[contain_medical]
automotive = biz_cat[contain_automotive]
shopping = biz_cat[contain_shopping]

In [18]:
# Create a new Dataframes for business categories to store the filtered results
resturants.reset_index(drop=True, inplace=True)
beauty.reset_index(drop=True, inplace=True)
medical.reset_index(drop=True, inplace=True)
automotive.reset_index(drop=True, inplace=True)
shopping.reset_index(drop=True, inplace=True)

### Display the selected businesses category dataframes and verify sample size.

 This allows us to verify if the data loading and manipulation operations have been executed accurately.

In [19]:
resturants.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,80,1,Restaurants
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,6,1,Restaurants

In [20]:
beauty.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories
0,x1mhq4IpWctQOBM06dU8vg,Diamond Hair Company,5324 W 16th St,Indianapolis,IN,46224,25,1,Beauty & Spas
1,Kq51_lGAgAigqmENITTr-A,Bala Better Health,"2 Bala Plz, Ste PL-11",Bala Cynwyd,PA,19004,13,1,Beauty & Spas

In [21]:
medical.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories
0,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,10,1,Health & Medical
1,Kq51_lGAgAigqmENITTr-A,Bala Better Health,"2 Bala Plz, Ste PL-11",Bala Cynwyd,PA,19004,13,1,Health & Medical

In [22]:
automotive.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories
0,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,625 N Stone Ave,Tucson,AZ,85705,10,1,Automotive
1,8wGISYjYkE2tSqn3cDMu8A,Nifty Car Rental,1241 Airline Dr,Kenner,LA,70062,14,1,Automotive

In [23]:
shopping.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories
0,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,13,1,Shopping
1,UJsufbvfyfONHeWdvAHKjA,Marshalls,21705 Village Lakes Sc Dr,Land O' Lakes,FL,34639,6,1,Shopping

In [24]:
# Verify the dataframe size of each selected categoy by count the datframe index length
def sample_size():
    num_index0 = len(resturants)
    num_index1 = len(beauty)
    num_index2 = len(medical)
    num_index3 = len(automotive)
    num_index4 = len(shopping)
    print('Dataset sample size for selected categories:')
    print(f'Resturants - {num_index0}')
    print(f'Beauty & Spas - {num_index1}')
    print(f'Health & Medical - {num_index2}')
    print(f'Automotive - {num_index3}')
    print(f'Shopping - {num_index4}')

### Aggregate selected business categories dataframes with customer's reviews dataset

In [25]:
# Check the sample size for changes 
sample_size()

Dataset sample size for selected categories:
Resturants - 35039
Beauty & Spas - 12263
Health & Medical - 11046
Automotive - 9879
Shopping - 20564

Load user reviews dataset and merge with each chosen business categories dataset using the business ID as the key.

In [26]:
# Load reviews dataset
reviews_json = 'RAW Data/JSON/yelp_academic_dataset_review.json'
biz_reviews = pd.read_json(reviews_json, lines=True)

Optional: You can load reviews dataset in chunks to reduce resource usage and increase processing time using the following 
    
    size = 1000000
    review = pd.read_json(yelp_review_json, lines=True, chunksize=size)

Each csv read will load 1 million rows of reviews dataset per chunk

In [27]:
# Preview the loaded reviews dataset 
biz_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

### Merge the reviews dataset with each selected category dataframes

In [28]:
# Merge selected datasets by business id 
# Note: Running all 5 dataframe will use considerable amount of resource so wait for the process to finish
restuarant_merge = resturants.merge(biz_reviews, on='business_id', how='inner')
beauty_merge = beauty.merge(biz_reviews, on='business_id', how='inner')
medical_merge = medical.merge(biz_reviews, on='business_id', how='inner')
automotive_merge = automotive.merge(biz_reviews, on='business_id', how='inner')
shopping_merge = shopping.merge(biz_reviews, on='business_id', how='inner')

Preview the merged dataframes

In [29]:
restuarant_merge.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories,review_id,user_id,stars,useful,funny,cool,text,date
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,80,1,Restaurants,BXQcBN0iAi1lAUxibGLFzA,6_SpY41LIHZuIaiDs5FMKA,4,0,0,1,This is nice little Chinese bakery in the hear...,2014-05-26 01:09:53
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,80,1,Restaurants,uduvUCvi9w3T2bSGivCfXg,tCXElwhzekJEH6QJe3xs7Q,4,3,1,2,This is the bakery I usually go to in Chinatow...,2013-10-05 15:19:06

In [30]:
beauty_merge.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories,review_id,user_id,stars,useful,funny,cool,text,date
0,x1mhq4IpWctQOBM06dU8vg,Diamond Hair Company,5324 W 16th St,Indianapolis,IN,46224,25,1,Beauty & Spas,eOpTUNV-V_RD1AVw4kCBag,3rm8KRUzGZ7vw-iKV_ikmQ,2,8,0,0,Love the hair but it sheds like crazy! Literal...,2016-11-30 21:40:13
1,x1mhq4IpWctQOBM06dU8vg,Diamond Hair Company,5324 W 16th St,Indianapolis,IN,46224,25,1,Beauty & Spas,wiMDMm80ueBzgxUXbsJ2Lw,NHiHTomwzFaLwO289clKFA,1,1,0,0,"All the stylist are trash!! They do basic ass""...",2018-01-23 07:53:45

In [31]:
medical_merge.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories,review_id,user_id,stars,useful,funny,cool,text,date
0,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,10,1,Health & Medical,FBXkfsPAHkDjCzYUBnHm-A,ZvmZM7LBzaYbpznpHlTANA,5,0,0,0,Why 5 stars?\n\nThis office does it the right ...,2017-09-21 18:47:03
1,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,10,1,Health & Medical,cF4KJL9YQj61ZOLF6WsI7Q,fpBGav2sf9d1UVkSch-6Rw,5,0,0,0,"Dr Pam is both my husband's and my dentist, an...",2016-07-17 15:55:41

In [32]:
automotive_merge.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories,review_id,user_id,stars,useful,funny,cool,text,date
0,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,625 N Stone Ave,Tucson,AZ,85705,10,1,Automotive,wSbZ7KMEIkyFuvEKuHgZ3Q,Grp5mXrdfv49MpoXoraIdg,5,0,0,1,I went in to get shocks for my shell and not o...,2018-02-03 21:57:47
1,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,625 N Stone Ave,Tucson,AZ,85705,10,1,Automotive,IurtlGAYpuaiZ2NZWNPRBw,ztgVL0NPadoUwCO9MWeUUQ,5,0,0,0,Ive been buying shells from these guys for so ...,2018-08-22 14:12:06

In [33]:
shopping_merge.head(2)

,business_id,name,address,city,state,postal_code,review_count,is_open,categories,review_id,user_id,stars,useful,funny,cool,text,date
0,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,13,1,Shopping,e_PZZ0m2sEG9UovGRxdZRQ,dT6O_rV9DWYS-zHXhA6S6w,4,3,2,2,This has become my go to place for shoes. I a...,2015-12-06 16:46:43
1,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,13,1,Shopping,WNv6UCHTmce7wgImLKP4sg,AAYvaNRQ0TD_2Lpo-wFOUA,4,3,2,1,"Oh, I do enjoy Famous Footwear. \n\nThe occasi...",2016-03-20 21:52:13

### Explore Selected businesses categories datasets sample sizes

In [34]:
# Create a function to quickly explore dataframe sample size
def revsample_size():
    num_indexr = len(restuarant_merge)
    num_indexb = len(beauty_merge)
    num_indexm = len(medical_merge)
    num_indexa = len(automotive_merge)
    num_indexs = len(shopping_merge)
    print('The sample size for merged dataframes are:')
    print(f'Resturants - {num_indexr}')
    print(f'Beauty & Spas - {num_indexb}')
    print(f'Health & Medical - {num_indexm}')
    print(f'Automotive - {num_indexa}')
    print(f'Shopping - {num_indexs}')

In [35]:
revsample_size()

The sample size for merged dataframes are:
Resturants - 3777208
Beauty & Spas - 332591
Health & Medical - 183977
Automotive - 224280
Shopping - 484561

### Select 5,000 random sample from each category, wrangle, clean and combine them into a single dataframe

In [36]:
# Drop all empty cells or rows that contain empty cells in the dataframes
restuarant_merge.dropna(inplace=True)
beauty_merge.dropna(inplace=True)
medical_merge.dropna(inplace=True)
automotive_merge.dropna(inplace=True)
shopping_merge.dropna(inplace=True)

### Select 25,000 random samples

Why select 25,000 ramdom sample?

1. Margin of Error: With a sample of 25,000, we can estimate confidence intervals and margins of error for your findings, which can provide a sense of the precision of your results.

2. Scope of Analysis: The specific goals of the data analysis matter. This research objectives are modest and do not require a high level of granularity, a sample of 25,000 will suffice.

3. Exploratory Analysis: For exploratory data analysis and our initial investigations, a sample size of 25,000 helps us identify trends, patterns, and potential areas of interest.

To select 5,000 random sample size from each dataframe, we first assign the merged dataframes as a list to a variable 'data'. Then use a for loop to iterate through all 5 dataframes in the data variable. Afterwards select random samples from each dataframe. Using the .sample() to randomly sample rows or elements from the dataframea. This method allows us to select a specified number of random elements from the data and set random_state for reproducibility. Here the 'n' parameter specifies the number of random samples we want to select. whihc was stored in the variable nSample. By the selected random rows will not n=be selected twice hence we have not used replace=False parameter. However because we want to set a seed for the random rows generator. Setting a random_state=42 value ensures that we get the same random sample every time we run the code with the same seed. This is useful for reproducibility.Then finally we append the random sample 'sample_data' to the rand_sample [] list.

In [37]:
nSample = 5000 # random sample size
rand_samples = [] # empty list to store each random sample
dataframes = [restuarant_merge,beauty_merge,medical_merge,automotive_merge,shopping_merge] 
for data in dataframes: 
    sample_data = data.sample(n=nSample, random_state=42) 
    rand_samples.append(sample_data)

In [38]:
"""
Alternatively you can use reduce the code lines by using the following for loop for quicker processing.  

for data in [restuarant_merge,beauty_merge,medical_merge,automotive_merge,shopping_merge]: 
    sample = data.nSample(n=nSample, randome_state=42) # in this loop use sample data dataframe
    rand_samples.append(sample)
   
"""

'\nAlternatively you can use reduce the code lines by using the following for loop for quicker processing.  \n\nfor data in [restuarant_merge,beauty_merge,medical_merge,automotive_merge,shopping_merge]: \n    sample = data.nSample(n=nSample, randome_state=42) # in this loop use sample data dataframe\n    rand_samples.append(sample)\n   \n'

### Wrangle genrated random samples into a new dataframe

In [39]:
# Wrangle random sample into a single dataframe and reset index. 
biz_selected = pd.concat(rand_samples, ignore_index=True)

In [40]:
# Check the wrangled dataframe info to verify dataframe fields are consistent with merged data
biz_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   25000 non-null  object
 1   name          25000 non-null  object
 2   address       25000 non-null  object
 3   city          25000 non-null  object
 4   state         25000 non-null  object
 5   postal_code   25000 non-null  object
 6   review_count  25000 non-null  int64
 7   is_open       25000 non-null  int64
 8   categories    25000 non-null  object
 9   review_id     25000 non-null  object
 10  user_id       25000 non-null  object
 11  stars         25000 non-null  int64
 12  useful        25000 non-null  int64
 13  funny         25000 non-null  int64
 14  cool          25000 non-null  int64
 15  text          25000 non-null  object
 16  date          25000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 3.2+ MB

In [41]:
# Convert all merged dataframe to CSV
biz_selected.to_csv('biz_selected.csv', index=False)

Next import the merged dataframe for data analysis, Sentiment analyis, statistical analysis, and hypothesis testing.